body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #eee;
  font-size: 1.5em;
}

#phoneNumber {
  display: block;
  text-align: center;
}

.digit {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  width: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
}

.digit:not(:last-child) {
  margin-right: 10px;
}

#howyoudoing {
  height: 400px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#howyoudoing img {
  max-width: 100%;
  max-height: 100%;
}

.title, .description {
  text-align: center;
  margin-bottom: 5px;
}

.controls {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

.controls button {
  display: inline-block;
}

.disclaimer {
  text-align: center;
  margin-bottom: 25px;
  font-size: .6em;
}